.contenedor_img{
    width: 100%;
    height: 500px;
    cursor: pointer;
    outline: 4px dashed #2a9055;
}

.contenedor_img p{
    font-size: 30px;
    position: absolute;
    top: 40%;
    left: 37%;
}

.contenedor_img img{
    width: 100%;
    height: 500px;

}

.imagen{
    display: none;
}


